html {
  font-family: "Roboto", sans-serif;
  max-width: 1120px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  width: 143px;
  height: 38px;
  background-color: #ebe5f9;
  border-radius: 6px;
}
.location img {
  margin-left: 8px;
}
.location h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #4b2995;
}

.intro {
  height: 544px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.title_principal {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  color: #272221;

  width: 588px;
  height: 124px;
  margin-bottom: 16px;
}
.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #403937;

  width: 588px;
  height: 52px;
}
.items {
  /*display: grid;*/
  width: 567px;
  height: 84px;
}
.first_item,
.second_item {
  display: flex;
  gap: 40px;
}

.item1,
.item2,
.item3,
.item4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}
h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.imagem {
  width: 476px;
  height: 360px;
  margin-left: 56px;
  margin-top: 92px;
}
.product_title h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  color: #403937;

  margin-top: 104px;
  margin-bottom: 34px;
}

.produtos {
  display: flex;
  gap: 32px;

  margin-bottom: 100px;
}

.produto {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f3f2f2;
  width: 256px;
  height: 310px;
  border-radius: 6px 36px;
}
.produto_img {
  margin-top: -25px;
  margin-bottom: 16px;
}
.produto_tipo {
  width: 81px;
  height: 21px;
  background: #f1e9c9;
  border-radius: 100px;

  padding: 4px 8px;
  margin-top: 12px;
  margin-bottom: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  color: #c47f17;
}
.produto_titulo {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 13px;
  color: #403937;
  margin-bottom: 8px;
}

.produto_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produto_descricao {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8d8686;
  margin-bottom: 32px;

  width: 216px;
  height: 36px;

  text-align: center;
}

.produto_preco {
  display: flex;
  align-items: baseline;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
}
.produto_preco::before {
  content: "R$ ";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.buy {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  text-align: center;

  padding: 8px;
  gap: 4px;

  width: 72px;

  background: #e6e5e5;
  border-radius: 6px;
  margin-left: 23px;
}

.counter button {
  border: none;
  background: none;
  align-items: center;
}
.counter img {
  display: flex;
  align-items: center;
}
.cart_button {
  margin-left: 8px;
  font-size: 10px;
}
.cart_button img {
  cursor: pointer;
}
